.card {
  max-width: 413px;
}

.card__title {
  font-size: 20px;
  weight: 500;
  line-height: 24px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  background-image: url(../images/Union.svg);
  height: 20px;
  width: 23px;
  border: none;
  opacity: 40%;
  background-color: transparent;
}

.card__like-button:hover {
  opacity: 70%;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__title {
    font-size: 16px;
    weight: 500;
    line-height: 16px;
  }
}
